@import "tailwindcss";
@plugin "daisyui";




@font-face {
    font-family: 'sans'; /* نام دلخواه برای فونت */
    src: url('../fonts/IRANSansWeb.woff2') format('truetype'); /* مسیر صحیح به فونت */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'digitalNumber'; /* نام دلخواه برای فونت */
    src: url('../fonts/digital-7.ttf') format('truetype'); /* مسیر صحیح به فونت */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans;
    font-feature-settings: 'lnum' 0, 'pnum' 1;
}

.close-btn:hover {
    transition: all 0.4s;
    transform: rotate(180deg);
    font-size: 18px;
    font-weight: bold;
    transform-origin: center;
    color: #ff4f4f;
    border: 1px #ff4f4f solid;
    background: #ffcccc;
}
